{% extends 'bank/base_template.html' %}

{% block title %}Acasa{% endblock %}



{% block style %}



{% endblock %}


{% block body %}


<h1>Schimba parola</h1>
				<form  method="post" enctype="multipart/form-data">
        {% csrf_token %}


                        <label>Old password:</label>
						<input class="input100" id="old_password" maxlength="30" name="old_password" type="password" placeholder="parola_veche">



                        <strong>New password:</strong>
						<input class="input100" id="new_password1" maxlength="30" name="new_password1" type="password" placeholder="parola_noua">



                                            <strong>Confirm new password:</strong>
						<input class="input100" id="new_password2" maxlength="30" name="new_password2" type="password" placeholder="parola_noua">


{% if form.errors and posted == True %}
                     <div class="alert alert-danger" role="alert">{{form.errors}}</div>
{% endif %}


						<button class="btn btn-success" type="submit">
							Schimba parola
						</button>


				</form>


{% endblock %}