{% extends 'bank/base_template.html' %}

{% block title %}Acasa{% endblock %}



{% block style %}
        {% load static %}
<!--        <link href="{% static 'bank/css/index.css' %}" rel="stylesheet">-->


{% endblock %}


{% block body %}
                    <img style="width: 300px;height: 300px;"  src="{% static 'bank/images/test.jpg' %}">
<div class="test">
    <p>Test</p>
</div>

<!--    {% load static %}-->
<!--    <script src="{% static 'bank/javascript/test.js' %}"></script>-->
{% endblock %}