{% extends 'bank/base_template.html' %}

{% block title %}Acasa{% endblock %}



{% block style %}



{% endblock %}


{% block body %}

<form method="post" enctype="multipart/form-data">
					<span>
						Reseteaza parola
					</span>
    {% csrf_token %}
<!--    {{ form.as_p }}-->

    <label>Parola noua</label>
    <input class="input--style-4" type="password" class="form-control" id="password1" name="password1"></br>

    <label>Confirmati parola</label>
    <input class="input--style-4" type="password" class="form-control" id="password2" name="password2"></br>

    <button class="btn btn-success" type="submit">
        Salveaza
    </button>

</form>

{% if form.errors  %}
                     <div class="alert alert-danger" role="alert">{{form.errors}}</div>
{% endif %}

{% if password_error  %}
                     <div class="alert alert-danger" role="alert"> Parolele nu sunt identice!</div>
{% endif %}

{% endblock %}