{% extends 'bank/base_template.html' %}
{% block title %}Ingresitrare{% endblock %}


{% block style %}


{% endblock %}s

{% block body %}


<form method="post" enctype="multipart/form-data">
					<span>
						 Veruficare cod
					</span>
    {% csrf_token %}
    {{ form.as_p }}





    <button class="btn btn-success" type="submit">
        Salveaza
    </button>

</form>

{% if form.errors  %}
                     <div class="alert alert-danger" role="alert">{{form.errors}}</div>
{% endif %}

{% endblock %}s

